<h1 class= "title">Welcome on Dinner Dice!</h1>
<p>Découvrez des recettes, organisez vos repas et trouvez de l'inspiration culinaire !</p>

<% if user_signed_in? %>
  <p>Vous êtes connecté ! Allez voir votre <%= link_to "recette aléatoire du jour", random_recipe_path, class: "btn btn-primary" %>.</p>
<% else %>
  <%= link_to "Se connecter", new_user_session_path, class: "btn-green" %>
  <%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-secondary" %>
<% end %>
