.hidden {
  display: none;
}

form fieldset {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  background-color: #b8f2e6;
  border: 3px solid #edf6f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form legend {
  font-weight: bold;
  font-size: 20px;
  color: #144338;
}

.recipe-name {
  width: 100%;
  height: 40px;
  border: 2px solid #144338;
  border-radius: 2px;
}

.recipe-instructions {
  width: 100%;
  height: 300px;
  border: 2px solid #144338;
  border-radius: 2px;
}

.form-group {
  margin-bottom: 15px;
}

form fieldset .form-group {
  display: flex;
  flex-wrap: wrap; /* Permet de faire passer les ingrédients à la ligne si nécessaire */
  gap: 10px; /* Espacement entre les ingrédients */
  margin-bottom: 20px;
  line-height: 0.5;
  align-items: center;
  justify-content: flex-start;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #144338;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

input[type="submit"].btn-submit {
  appearance: none; /* Pour annuler les styles natifs de certains navigateurs */
}

form input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border: 2px solid #144338;
  background-color: white;
  border-radius: 4px;
  appearance: none; /* Supprime le style par défaut */
  outline: none; /* Retire l'outline lors du focus */
}

input[type="checkbox"]:checked {
  background-color: #144338; /* Fond lorsque la case est cochée */
  border-color: #ffffff; /* Changer la couleur de la bordure lorsque la case est cochée */
}

form label {
  font-size: 14px;
  align-items: center;
  text-align: center;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.ingredients-section {
  background-color: #B7E4C7; /* Choisis la couleur que tu préfères */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  color: #144338;
  margin: 0;
}

.btn-delete {
  color:#144338;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
}

.custom-ingredient-grid {
  margin-top: 20px;
}

.ingredient-checkbox {
  padding-left: 5px;
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
}

.ingredient-checkbox:hover {
  background-color: #e2e6ea;
}

.form-check-input {
  margin-right: 0.5rem;
}
