.container-home {
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: center;
}

.welcome-card {
  background-color: #b8f2e6;
  border: 3px solid #edf6f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.title-home {
  font-size: 30px;
  text-align: center;
  color: #144338;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe-header {
  display: flex;
  flex-direction: column; /* Organise les éléments verticalement */
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  padding-top: 8px;
  margin-top: 0;
  background: #b8f2e6;
  position: relative;
  height: auto;
}

.recipe-card-random {
  width: 100%;
  text-align: center;
  height: auto;
}

.container-random-recipe {
  background-color: #b8f2e6;
  border: 3px solid #edf6f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  margin: auto;
}

.recipe-instructions-random {
  font-size: 16px;
  text-align: left;
  color: #144338;
  margin-top: 10px;
  display: inline-block;
  margin-top: 10px;
}

.dinner-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  top: 5px;
  left: 5px;
}

.recipe-title-random {
  font-size: 22px;
  text-align: center;
  justify-content: center;
  color: #144338;
  font-weight: bold;
  margin-bottom: 10px;
}

.recipe-link-random {
  margin-top: auto; /* Pousse le lien en bas */
  margin-bottom: 0px;
  display: inline-block;
  padding: 10px 15px;
  color: #144338;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

// .dinner-dice {
//   // background-image: url("dice.jpg");
//   // background-size: contain; /* L'image s'ajustera sans être tronquée */
//   // background-repeat: no-repeat; /* Évite que l'image se répète si elle est plus petite que le conteneur */
//   // width: 80px;
//   // height: 80px;
//   border: none;
//   // // margin-left: 20px;
//   // // margin-top: 20px;
//   // // background-color: white;
//   position: absolute;
//   right: 10px;
//   bottom: 20px;
// }

.reroll-container {
  justify-content: center;
  align-items: center;
  margin-top: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  position: relative;
  gap: 10px;
}


.dice-wrapper {
  // perspective: 800px;
  width: 70px;
  height: 70px;
  margin: auto;
  cursor: pointer;
  position: fixed;
  z-index: 1; /* Assure que le cube est au-dessus du fond */
  top: 75%; /* Centrer verticalement */
  left: 45%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Ajuster pour centrer le cube */
  transition: transform 0.6s ease;
}

.cube {
  width: 70px;
  height: 70px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  transform: rotateX(15deg) rotateY(15deg);
  position: absolute;
  top: 100%; /* Place le cube immédiatement en dessous de son conteneur parent */
  left: 50%;
}

.face {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #b8f2e6;
  border: 3px solid #edf6f9;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* Positionnement des faces */
.front  { transform: rotateY(  0deg) translateZ(35px); }
.back   { transform: rotateY(180deg) translateZ(35px); }
.right  { transform: rotateY( 90deg) translateZ(35px); }
.left   { transform: rotateY(-90deg) translateZ(35px); }
.top    { transform: rotateX( 90deg) translateZ(35px); }
.bottom { transform: rotateX(-90deg) translateZ(35px); }

@keyframes roll {
  0% { transform: rotateX(15deg) rotateY(25deg); }
  50% { transform: rotateX(180deg) rotateY(360deg); }
  100% { transform: rotateX(15deg) rotateY(25deg); }
}

.roll {
  animation: roll 0.3s ease;
}
