@import "bootstrap";
@import "components/form";
@import "components/navbar";
@import "components/home";
@import "components/cards";
@import "bootstrap";

.header {
  background-color: #b7e4c7;
  text-align: center;
}

.container {
  background-color: white;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  justify-content: center;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}


h3 {
  font-size: 25px;
  text-align: left;
  color: #144338;
  font-weight: bold;
  margin-top: 0px;
}
